/******************************** GENERAL STYLES ********************************/

body {
	font-family: 'Pontano Sans', sans-serif;
	background: #E3E3E3;
}

ul, li {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

h4 {
	font-size: 32px;
	margin: 0;
}

h5, h6 {
	font-size: 20px;
}

nav {
	background: #E3E3E3;
	width: 668px;
	height: 40px;
	left: 50%;
	margin-left: -405px;
	padding: 50px 68px 10px;
	top: 0;
	position: fixed;
	z-index: 2;
}

nav ul {
	margin: 0;
	position: relative;
	display: inline-table;
}

nav ul li {
	padding: 10px 21px;
	border-right: 2px solid #47BFBB;
	float: left;
}

nav ul li:last-child {
	border-right: none;
}

nav ul li:hover > ul {
	display: block;
}
nav ul li a:hover {
	color: #47BFBB;
}

nav ul ul {
	background: #E3E3E3;
	width: 144px;
	margin-left: -23px;
	padding-left: 14px;
	padding-bottom: 10px;
	top: 100%;
	border: 2px solid #47BFBB;
	border-top: none;
	position: absolute;
	display: none;
}

#long_list {
	width: 192px;
}

nav ul ul li {
	padding: 2px 0 0 10px;
	position: relative;
	float: none;
	border-right: none;
}

#short_list li {
	width: 110px;
}

#long_list li {
	width: 160px;
}

body#body_about a#navabout,
body#body_art a#navart,
body#body_teaching a#navteaching,
body#body_contact a#navcontact {
	color: #47BFBB;
}

/******************************** HOMEPAGE ********************************/

#home_container {
	width: 474px;
	height: 300px;
	margin: 300px auto;
}

#home_left {
	padding-right: 20px;
	float: left;
	border-right: 3px solid #47BFBB;
}

#home_right {
	padding: 0 0 0 20px;
	float: left;
}

#home_right a:hover {
	color: #47BFBB;
}

/******************************** ABOUT ********************************/

#about_container {
	width: 700px;
	height: 500px;
	margin: 90px auto 0;
	padding-top: 100px;
}

#about_container div {
	width: 44%;
	float: left;
}

#about_left {
	padding: 0 20px 0 30px;
}

#about_right {
	padding: 0 10px;
}

#about_right p {
	line-height: 22px;
	margin: 0 0 30px;
	padding: 0 12px;
}

#about_right .button {
	padding: 0 12px;
}

/******************************** ART PORTFOLIO ********************************/

section {
	width: 804px;
	height: 300px;
	margin: 50px auto 10px;
}

#painting {
	height: 1230px;
	margin-bottom: 0;
	padding-top: 100px;
	border-bottom: 1px solid #000;
}

#body_art p {
	font-size: 14px;
	width: 220px;
	height: 16px;
	margin: 0;
}

#sculpture {
	height: 600px;
	margin-top: -40px;
	padding-top: 94px;
}

#sculpture div {
	width: 100%;
}

#sculpture h6 {
	margin-top: 10px;
	margin-bottom: 2px;
}

#photos_sculpture_1 {
	height: 260px;
}

#photos_sculpture_2 {
	height: 490px;
}

#photos_sculpture_3 {
	height: 530px;
}

.fancybox-thumb {
	width: 242px;
	height: 208px;
	padding: 13px;
	float: left;
}

/******************************** TEACHING PORTFOLIO ********************************/

#philosophy {
	height: 424px;
	padding-top: 106px;
}

#photos {
	width: 800px;
	height: 650px;
	margin-top: -50px;
	margin-bottom: 0;
	padding-top: 100px;
	position: relative;
	z-index: 1;
}

.content{
	margin:0px 25px 30px 25px;
}

#lessons {
	height: 730px;
	margin-top: -50px;
	padding-top: 110px;
}

.unit_plan {
	width: 100%;
	margin-bottom: 50px;
}

.unit_plan h5 {
	margin-top: 20px;
	margin-bottom: 0;
}

.unit_plan a {
	color: #47BFBB;
	padding-right: 2px;
}

.unit_plan a:hover {
	color: #F0F0F0;
}

/******************************** CONTACT ********************************/

#contact_container {
	width: 720px;
	height: 540px;
	margin: 90px auto;
	padding-top: 50px;
}

#contact_left {
	background: url('../images/jessie_contact.jpg') no-repeat center;
	width: 100%;
	height: 534px;
}

#contact_right {
	background: rgba(0,0,0,0.3);
	color: #FFF;
	height: 120px;
	margin-top: -130px;
	padding: 10px 0 0 30px;
}

#contact_right p {
	text-shadow: 1px 1px 1px #000000;
}

#contact_right .button a {
	color: #FFF;
}

.button a {
	width: 150px;
	height: 20px;
	margin-right: 14px;
	padding: 5px;
	text-align: center;
	float: left;
	border: 2px solid #47BFBB;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
	-webkit-transition: background 500ms ease;
	-moz-transition: background 500ms ease;
	-ms-transition: background 500ms ease;
	-o-transition: background 500ms ease;
	transition: background 500ms ease;
}

.button a:hover {
	color: #FFF;
	background: #47BFBB;
}

@media only screen and (max-width: 812px){

	nav {
		width: 496px;
		margin: 0 auto;
		padding: 50px 20px 30px;
		left: 0;
		position: relative;
	}

	nav ul li {
		padding: 4px;
	}

	nav ul ul {
		width: 110px;
		margin-left: -6px;
	}

	#short_list li {
		width: 80px;
	}

	#long_list {
		width: 158px;
	}

	#long_list li {
		width: 158px;
		padding: 0;
	}

	#about_container, #painting, #philosophy, #contact_container {
		padding-top: 0;
	}

	#home_container {
		width: 260px;
		margin: 100px auto;
	}

	#home_left {
		width: 250px;
		margin: 0 auto;
		padding-right: 0;
		padding-bottom: 10px;
		border-right: none;
		border-bottom: 2px solid #47BFBB;
		float: none;
	}

	#home_right {
		width: 250px;
		margin: 0 auto;
		padding-left: 0;
		text-align: center;
		float: none;
	}

	#body_about {
		height: 1000px;
	}

	#about_container {
		width: 536px;
		margin: 10px auto;
	}

	#about_container div {
		width: 307px;
		margin: 0 auto;
		float: none;
	}

	#about_left {
		padding: 0;
	}

	#about_right {
		padding: 30px 0 0;
		text-align: center;
	}

	#about_right .button {
		width: 136px;
	}

	#about_right .button a {
		margin: 0 auto 30px;
	}

	#body_art nav {
		margin: 0 auto;
	}

	#painting {
		width: 540px;
		height: 1920px;
		margin-top: 0;
		padding: 0 20px;
	}

	#sculpture {
		width: 540px;
		height: 1550px;
		padding: 94px 20px 0;
	}

	#philosophy {
		width: 500px;
		height: 630px;
		margin-top: 0;
		padding: 0 20px;
	}

	#photos {
		width: 500px;
		height: auto;
		padding: 30px 20px;
	}

	#lessons {
		width: 500px;
		height: 910px;
		padding: 40px 20px;
	}

	#contact_container {
		width: 496px;
		height: 600px;
		margin: 0 auto;
	}

	.button a {
		width: 122px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px){
	#short_list {
		width: 109px;
	}

	#long_list {
		width: 156px;
	}

	#body_art {
		width: 540px;
		margin: 0;
	}

	#painting, #sculpture {
		width: 520px;
		margin: 0 auto;
		padding: 0;
	}

	#painting {
		height: 1850px;
	}

	#sculpture {
		padding-top: 40px;
	}

	.fancybox-thumb {
		padding: 8px;
	}

	#body_teaching nav {
		width: 520px;
		padding: 50px 20px;
	}

	#contact_container {
		width: 450px;
		height: 700px;
	}

	#body_contact {
		width: 540px;
	}

	#contact_right {
		background: none;
		color: #000;
		margin: 0 auto;
	}

	#contact_right p {
		text-shadow: none;
	}

	#contact_right .button a {
		color: #000;
		width: 150px;
		margin-left: 16px 
	}

}