.container {
	width: 800px;
	margin: 0 auto;
}

.rg-image-wrapper{
	/*-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/
	position:relative;
	padding:4px 30px;
	min-height:20px;
}
.rg-image{
	text-align:center;
	line-height:0px;
	position:relative;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	/*opacity:0.3;*/
	/*outline:none;*/
	/*-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;*/
	color: #FFF;
	position:absolute;
	top:50%;
	left:0px;
	background:transparent url(../images/nav_thumbs.png) no-repeat top left;
	width:12px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
}
.rg-image-nav a.rg-image-nav-next{
	/*background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;*/
	right:0px;
	left:auto;
	background-position:top right;
}
.rg-image-nav a:hover{
	cursor: pointer;
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}

/*photo caption*/
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:30px;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(../images/views.png) no-repeat top left;
	border:3px solid #464646;
}
.rg-view a:hover{
	/*opacity:1.0;*/
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}



.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}


@media only screen and (max-width: 812px){
	.container {
		width: 500px;
	}
}